.footer {
  padding: 2.5rem;
  background-color: $greyDark;
  color: $white;

  .container {
    display: flex;
    flex-direction: column;

    @include breakpoint-up(large) {
      flex-direction: row;
    }

    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  &__social {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    @include breakpoint-up(large) {
      align-items: flex-start;
      margin-bottom: 0;
    }

    .icons {
      margin-top: 0.5rem;

      @include breakpoint-up(large) {
        margin-top: 1.5rem;
      }

      a {
        margin-right: 1rem;
      }
    }
  }

  &__links {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9375rem;
    margin-bottom: 1rem;

    @include breakpoint-up(large) {
      align-items: start;
      margin-bottom: 0;
    }

    a {
      line-height: 2.25;
      transition: color 150ms ease-in-out;
      margin-bottom: 0.1rem;
      color: $white;

      @include breakpoint-up(large) {
        margin-bottom: 0.5rem;
      }

      &:hover {
        color: $brand1;
      }
    }
  }

  &__cta {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.875rem;

    @include breakpoint-up(large) {
      align-items: flex-end;
      margin-bottom: 0;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
      margin-top: 1rem;
      font-size: 0.8125rem;
      color: $grey;

      @include breakpoint-up(large) {
        // align-self: end;
        // justify-self: end;
      }
    }

    .language-select {
      margin-top: 1rem;
      display: block;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      height: calc(1.5em + 0.75rem + 2px);
      border-radius: 10px;
      color: #fff;
      font-size: $font-sm;
      padding: 0 20px 0 10px;
    }
  }
}
