.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 75px;

  background-color: $white;

  &.open {
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($greyDark, transparent);
  }

  nav {
    display: flex;
    background-color: $white;
    height: $header-height;
    align-items: center;
    padding-top: unset;
    padding-bottom: unset;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
      border-radius: 999px;
    }
  }

  &__toggle {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $greyDark;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;

    a {
      display: block;
      padding: 0.625rem;
      color: $greyDark;
      text-align: center;
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grey;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -26px;
        background: linear-gradient(to right, $brand1, $brand2);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      &:hover {
        color: $greyDark;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
