// Colors
$brand1: #007fff;
$brand2: #00c6ff;

$greyDark: hsl(233, 26%, 24%);
$grey: hsl(233, 8%, 62%);
$greyLight: hsl(220, 16%, 96%);
$greyLighter: hsl(0, 0%, 98%);

$white: hsl(0, 0%, 100%);

$colors: (
  brand1: $brand1,
  brand2: $brand2,
  greyDark: $greyDark,
  grey: $grey,
  greyLight: $greyLight,
  greyLighter: $greyLighter,
  white: $white,
);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xl: 3.25rem;

// Header
$header-height: 75px;
