button,
.button {
  position: relative;
  display: inline-block;
  overflow: hidden;

  padding: 0.875rem 2.1875rem;

  background-color: transparent;

  border: 2px solid transparent;
  border-radius: 5px;

  cursor: pointer;
  color: $white;

  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-sm;

  z-index: 1;

  transition: all 0.3s;

  &:before {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-image: linear-gradient(to right, $brand1, $brand2);

    z-index: -1;

    transition: all 0.3s;
  }

  &:hover {
    color: $brand1;
    border-color: $brand1;

    transition: border-color 1s ease;
    transition-delay: border-color 5s;

    &:before {
      width: 0%;
    }
  }

  @each $name, $color in $colors {
    &--hover-#{"" + $name} {
      &:hover {
        color: $color;
        border-color: $color;
      }
    }
  }
}
