input,
.input {
  display: block;
  width: 100%;
  padding: 20px 15px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 10px;
  color: #fff;
  font-size: $font-sm;

  &::placeholder {
    color: #fff;
    opacity: 0.5;
  }

  &--invalid {
    border-color: #ff0033;
  }

  &--invalid::placeholder {
    color: #ff0033;
    opacity: 1;
  }
}

textarea,
.textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  min-height: 1rem;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: $font-sm;

  &::placeholder {
    color: #fff;
    opacity: 0.5;
  }
}
