.contact {
  .form {
    display: flex;
    justify-content: center;
    background-color: $brand1;
    border-radius: 10px;
    padding: 2rem;

    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include breakpoint-up(medium) {
        width: 50%;
      }
    }

    &__title {
      text-align: center;
      color: $white;
      font-size: 1.3rem;
    }

    &__input {
      margin-bottom: 0.5rem;
    }

    &__input:last-child {
      margin-bottom: 0px;
    }

    &__button {
      margin-top: 0.5rem;
      align-self: flex-end;
      color: $brand1;

      &:before {
        background-image: unset;
        background-color: $white;
      }

      &:hover {
        color: $white;
      }
    }

    &__success {
      color: $white;
      text-align: center;
      margin-bottom: 0;
    }
  }
}
