@import "../../mixins";
@import "../../variables";

.introduction {
  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: flex-start;
      min-height: calc(100vh - #{$header-height});
    }
  }

  &__image {
    position: relative;
    background-image: url("/images/bg-intro.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 70%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/images/bg-intro.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 80%;
        background-position: 0% 83%;
      }
    }
  }

  &__image-profile {
    position: absolute;
    width: 45%;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint-up(medium) {
      width: 30%;
    }

    @include breakpoint-up(large) {
      width: 65%;
    }

    img {
      border-radius: 10px;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}
