@import "introduction";
@import "service";
@import "article";
@import "contact";

.introduction {
  background-color: $greyLighter;
}

.services {
  background-color: $greyLight;

  &__intro {
    margin-bottom: 3.75rem;

    @include breakpoint-up(large) {
      width: 60%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects {
  background-color: $greyLighter;
}

.articles {
  background-color: $greyLight;

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.contact {
  background-color: $greyLighter;
}
