.project-overview {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 0.3rem;

  @include breakpoint-up(medium) {
    width: calc(100% * (1 / 2));
  }

  @include breakpoint-up(large) {
    width: calc(100% * (1 / 3));
  }

  &-content {
    display: flex;
    flex-direction: column;
    border-radius: 0.3125rem;
    overflow: hidden;
    height: 100%;
    background-color: $white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;

    &:hover {
      transform: scale(1.01);
    }
  }

  &__image {
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
  }

  &__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    color: $grey;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }

  &__name {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  &__description {
    font-size: 1.0625rem;
    line-height: 1.2;
    color: $greyDark;
    margin-bottom: 1rem;
  }

  &__techno {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
  }

  &__links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1.5rem;

    img {
      width: 24px;
    }

    a {
      margin-left: 0.5rem;
    }
  }
}
